body
    +light
    color: $text-color
.button-o
    border: 2px solid $primary
    padding: 17px 22px
    font-size: 12px
    text-transform: uppercase
    background-color: $primary
    color: #fff
    +bold
.bg-secondary
    background: $bg-secondary
.input
    height: 80px
    marging-left: 30px
    border: solid #dddddd